{% extends "base.html" %}
<head>
    <style>
      h1{
        color: green;
      }
    </style>
</head>

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>{{message}}</h1>
        <p class="lead"> Future Emergency Room</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 col-xl-3">
          <img src="static/img/questions.png" style="margin-left:15px;margin-right:15px;margin-top:0px;margin-bottom:10px;width:200px;height:200px;">
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3">
          <h2>Create Ticket</h2>
          <p>Fill in a medical ticket form to get a doctor visit.</p>
          <p><a href="{{ url_for('fill_ticket') }}" target="_blank" class="btn btn-primary">Fill in Ticket &raquo;</a></p>
        </div>
        <!-- <div class="col-md-6 col-lg-3 col-xl-3">
          <h2>Upload Incidence</h2>
          <p>Upload a file you have already made.</p>
          <p><a href="https://youtube.com" target="_blank" class="btn btn-warning">Upload Incidence &raquo;</a></p>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3">
          <h2>Check Incidence</h2>
          <p>FInd the category and other information about any incidence in the database.<p>
          <p><a href="" target="_blank" class="btn btn-warning">Check Incidence &raquo;</a></p>
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 col-xl-3">
          <img src="static/img/loupe.png" style="margin-left:15px;margin-right:15px;margin-top:0px;margin-bottom:10px;width:200px;height:200px;">
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3">
          <h2>For Doctors</h2>
          <p>Attend patient.</p>
          <p><a href="{{ url_for('doctor_dashboard') }}" target="_blank" class="btn btn-primary">Start</a></p>
        </div>
        <!-- <div class="col-md-6 col-lg-3 col-xl-3">
          <h2>Upload Incidence</h2>
          <p>Upload a file you have already made.</p>
          <p><a href="https://youtube.com" target="_blank" class="btn btn-warning">Upload Incidence &raquo;</a></p>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3">
          <h2>Check Incidence</h2>
          <p>FInd the category and other information about any incidence in the database.<p>
          <p><a href="" target="_blank" class="btn btn-warning">Check Incidence &raquo;</a></p>
        </div> -->
    </div>
</div>

{% endblock %}
